{% extends 'base.html' %}

{% block info %}
<h1 style="text-align:center">login Page</h1>
{% endblock %}

{% block content %}
<body class="text-center">
<div class="container">
    <form method="post">
        {{ form.hidden_tag() }}
        <br>
        <h1 class="h3 mb-3 font-weight-normal">
            Please Login to your Account
        </h1>
        <br>
        {{ form.username.label }}
        {{ form.username(placeholder="Username",class="form-control") }}
        <br>
        {{ form.password.label }}
        {{ form.password(placeholder="Password",class="form-control") }}
        <br>
        <div class="checkbox mb-3">
               <h5>Doesn't have an account?</h5>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
        </div>
        <br>
        {{ form.submit(class="btn btn-block btn-primary",label="Login") }}
    </form>
</div>
</body>
{% endblock %}